* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background: #000;
  --background-sec: #111;
  --background-ter: #222;

  --hover: #2a2a2a;
  --hover-sec: #252525;
  --hover-accent: #0050e6;

  --foreground: #333;
  --foreground-sec: #444;

  --border: #222;
  --border-sec: #333;
  --outline: #666;

  --text: #fff;
  --text-sec: #aaa;
  --text-ter: #777;

  --accent: #0064ff;
  --error: #ff3b3b;
  --warning: #ff6400;
  --success: #2faa2f;

  --red: #f00;
  --green: #00cc44;
  --orange: #ffa500;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: 'Inter Variable', sans-serif;
  user-select: none;
  overflow: hidden;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.v-align {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.v-align button {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
}

a {
  color: var(--accent);
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--foreground);
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
